$basic-color: #757575;
$title-color: #212121;
$primary-white-color: #ffffff;
$brand-accent: #2196f3;
$footer-bgc: #2f303a;
$border-header: #ececec;
$hero-bgc: #c4c4c4;
$btn-hover: #0087f5;
$icon-color: #afb1b8;
$filter-bgc: #f5f4fa;
$timing-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
