/* _______GENERAL_STYLES__________ */
/* img {
  width: 300px;
}
.list-style {
  list-style: none;
} */
/* -------MODULE_7_2----------- */
/* .box {
  width: 100px;
  height: 100px;
  background-color: red;
}

.feedback-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-input,
.form-textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-textarea {
  resize: vertical;
}

.form-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}

.car-search {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.car-group {
  margin-right: 10px;
}

.car-input,
.car-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.car-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.car-button:hover {
  background-color: #0056b3;
}

.car-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.car-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.car-image {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.car-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.car-type {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.car-price {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
} */

/* __________MODULE_8_1___________ */
.box {
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.box-red {
  width: 300px;
  height: 300px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-green {
  width: 200px;
  height: 200px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.box-black {
  width: 100px;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
  user-select: none;
  list-style: none;
}

.item {
  list-style: none;
  width: 250px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 10px;
}

.item img {
  width: 250px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item h2 {
  font-size: 1.2rem;
  margin: 0;
}

.item p {
  font-size: 1rem;
  margin: 5px 0;
}

.modal {
  width: 500px;
  padding: 20px;
  user-select: none;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal img {
  max-width: 400px;
  height: 500px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.modal h2 {
  font-size: 1.5rem;
  margin: 0;
}

.modal h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.modal p {
  font-size: 1rem;
  margin: 0;
}
